html, body {
    height: 100%;
    overflow: hidden;
    // margin: 0;
    // padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@font-face {
    font-family: 'customFont';
    src: url('./gomarice_atama_simple.TTF') format('truetype')
}

@font-face {
    font-family: 'customFont2';
    src: url('./impact.TTF') format('truetype')
}

#score_div {
    position:absolute;
    z-index:20;
    width: 20%;
    height: 43%;
    text-align: center;
    margin-bottom: 30%;
    // outline: 5px outset black;
    font-family: 'customFont2';
    font-size: 300%;
    color: #c5273d;
    
}

#empty_container {
    z-index: 0;
    display: flex;
    width: 20%;
    height: 30%;
    // outline: 5px outset black;
}

#background_container {
    background-color: #4dbef7;
    z-index: 0;
    outline: 5px outset black;
    display: flex;
    width: 70%;
    margin-bottom: 4%;
    height: 80%;
    // justify-content: center;
    align-items: flex-end;
}
#timer_div {
    display: flex;
    width: 33%;
    height: 15.5%;
    // outline: 5px outset black;
    font-family: 'customFont2';
    font-size: 180%;
    justify-content: space-around;
}

#timer_bar {
    margin-top: 8%;
    height: 50%;
    width: 75%;
}

#hello_world {
    width: 33%;
    text-align: center;
    font-family: 'customFont';
    outline: 5px outset black;
    font-size: 130%;
    background: yellow;
}
#lives {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 27%;
    height: 12%;
    margin-bottom: 0.09%;
    // outline: 5px outset black;
}

// title page
#game_container {
    display: flex;
    width: 60%;
    height: 66%;
    background-color: #ffffcc;
    // border: 3px solid black;
    outline: 5px outset black;
    flex-wrap: wrap;
    position: absolute;
    z-index: 1;
}

#top_title_box {
    display: flex;
    width: 100%;
    height: 25%;
    // outline: 5px outset black;
    align-items: center;
}

#empty_top_div {
    width: 24%;
}

#title {
    width: 51%;
    text-align: center;
    font-family: 'customFont';
    font-size: 300%;
    
    // outline: 5px outset black;
}

#icons_div {
    display: flex;
    width: 25%;
    height: 90%;
    // outline: 5px outset black;
}

#empty_icon_div {
    width: 40%;
    
}


#bottom_title_box {
    display: flex;
    width: 100%;
    height: 75%;
    // outline: 5px outset black;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}



#controls{
    width: 70%;
    height: 5%;
    text-align: center;
    font-family: 'customFont';
    font-size:150%;
    color: orange;

    animation-name: change-color;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    // outline: 5px outset black;
}

@keyframes change-color {
    25% {
      color: #00A4BD;
    }
    50% {
      color: #FF7A59;
    }
    75% {
      color: #00BDA5;
    }
    100% {
      color: #6A78D1;
    }
}

#keyboard {
    width: 70%;
    height: 30%;
    position: relative;
    // animation: animate-images 3s linear infinite;
    // animation-duration: 5s;
    // outline: 5px outset black;
}

#keyboard_img {
    width: 100%;
    height: 100%;
    visibility: visible;
    position: absolute;
    // animation-name: animate-images;
    // animation-duration: 4s;
    // animation-delay: 4s;
    // animation-iteration-count: infinite;

    
}

// #keyboard_press_img {
//     visibility: hidden;
//     position: absolute;
    
// }

// @keyframes animate-images {
//     0% {
//       visibility: hidden;
//     }
//     100% {
//       visibility: visible;
//     }
//   }

#start {
    width:40%;
    height:40%;
    display: flex;
}

#startButton {
    // outline: 5px outset black;
    background-image: url('https://kennytram.github.io/Mayhem-Overload/assets/title/start.png');
    background-color: transparent;
    background-repeat: no-repeat;
    width: 100%; /* adjust width to fit your image */
    height: 100%; /* adjust height to fit your image */
    border:none;
}

#startButton:hover {
    background-image: url('https://kennytram.github.io/Mayhem-Overload/assets/title/start_hovered.png');
    background-color: transparent;
    cursor: pointer; /* show pointer cursor on hover */
}

#startButton:active {
    background-image: url('https://kennytram.github.io/Mayhem-Overload/assets/title/start_clicked.png');
    background-color: transparent;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#canvas {
    position: absolute;
    outline: 5px outset black;
    z-index:0;
}