html,
body {
    height: 100%;
    overflow: hidden;
    margin: 0;
    // padding: 0;
}

body {
    display: flex;
    // flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: skyblue;
    // background-image: url('../assets/title/nintendo-switch-bg.png');
    // background-size: 110% 130%;
    // background-repeat: no-repeat;
    // background-position: center center;
    // object-fit: contain;

    // @media(max-height: 600px) {
    //     background-size: contain;
    // }

    // @media(max-height: 500px),
    // (max-width: 500px) {
    //     background-size: cover;
    // }

    // @media (max-width: 550px),
    // (max-height: 400px) {
    //     min-width: 500px;
    //     min-height: 400px;
    //     background-size: auto;
    //     overflow: hidden;
    // }
    font-family: 'Press Start 2P', cursive;
    background-color: skyblue;
}

#game-layer {
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    background-color: transparent;
    align-items: center;
    justify-content: center;
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


// title page


#game-container {
    display: flex;
    width: 960px;
    height: 720px;

    position: fixed;

    min-width: 550px;
    min-height: 400px;

    border-radius: 5px;
    position: relative;
    z-index: 1;
    background-color: #ffffcc;
    // border: 3px solid black;
    outline: 5px solid black;
    border: 2px solid black;

    // @media(max-height: 600px) {
    //     width: 57%;
    // }

    // @media(max-height: 00px) {
    //     width: 10%;
    // }
    flex-direction: column;
}

#top-title-box {
    display: flex;
    width: 100%;
    // align-items: center;
    position: relative;
    margin-top: 20px;

    justify-content: space-between;
}

#score {
    // text-align: center;
    // outline: 5px outset black;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    color: #c5273d;
    // display: none;
    width: 20%;
    max-width: 100%;
    padding-left: 16px;
    z-index: 30;
    display: none;
    font-weight: 700;
    // visibility: hidden;
    // position: absolute;
}

#title {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
    width: 40%;
    max-width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    // position: absolute;
    // outline: 4px solid #1e1e1e;
}

.left.icons-div {
    padding-left: 60px;
    width: 13%;
    max-width: 100%;
}

.icons-div {
    display: flex;
    width: 20%;
    height: 90%;
    position: relative;
    white-space: nowrap;
    z-index: 3;
    // outline: 5px outset black;
}

#icons-div>a {
    // width: 100%;
    height: 100%;
}

.social-icon {
    // transition: top 0.2s ease-in-out;
    // top: 0;
    position: absolute;
    width: 80px;
    max-width: 100%;
    margin-top: 10px;
    // margin-left: 10px;
    // display: none;
}

.social-icon:hover {
    top: -10px;

}

@keyframes float-animation {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translateY(0px);
    }

    50% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translateY(-15px);
    }

    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translateY(0);
    }
}


#github-icon {
    border-radius: 50%;
    animation: float-animation 3s ease-in-out infinite;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translateY(0px);
    position: relative;
    margin-left: 40px;
    max-width: 100%;
    z-index: 1;
}

#linkedin-icon {
    // border-radius: 12px;
    animation: float-animation 3s ease-in-out infinite;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translateY(0px);
    position: relative;
    border-radius: 10%;
    max-width: 100%;
}

.right.icons-div {
    z-index: 22;
}

#lives {
    justify-content: flex-end;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    // margin-bottom: 0.09%;
    position: absolute;
    // outline: 5px outset black;
    top: -6px;
    z-index: 22;

    display: none;
}

#lives>img {
    width: 40px;
    height: 40px;
    margin-right: 4px;
    max-width: 100%;
    max-height: 100%;
    padding-left: 15px;

}

.heart {
    z-index: 22;
}

#empty_container {
    z-index: 0;
    display: flex;
    width: 20%;
    height: 30%;
    // outline: 5px outset black;
}

#background_container {
    background-color: #4dbef7;
    z-index: 0;
    outline: 5px outset black;
    display: flex;
    width: 70%;
    margin-bottom: 4%;
    height: 80%;
    // justify-content: center;
    align-items: flex-end;
}

#desc-text {
    padding-top: 42px;
    width: 80%;
    height: 20%;
    font-family: 'Press Start 2P', cursive;
    // outline: 5px outset black;
    font-size: 20px;
    text-align: center;
    align-self: center;
    line-height: 44px;
}

#timer_div {
    display: flex;
    // display: none;
    // outline: 5px outset black;
    font-family: 'Press Start 2P', cursive;
    font-size: 24px;
    visibility: hidden;
    z-index: 30;
}

#timer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    z-index: 30;
    color: #f6f6f6;
}

#timer_bar {
    margin-top: 8%;
    height: 50%;
    width: 25%;
    text-align: center;
    z-index: 30;
}

// #hello_world {
//     width: 33%;
//     text-align: center;
//     font-family: 'Press Start 2P', cursive;
//     outline: 5px outset black;
//     font-size: 130%;
//     background: yellow;
// }

#empty_top_div {
    width: 24%;
}





#empty_icon_div {
    width: 40%;

}


#bottom_title_box {
    display: flex;
    width: 100%;
    height: 40%;
    // outline: 5px outset black;
    justify-content: center;
    flex-wrap: wrap;
}



#controls {
    width: 70%;
    height: 5%;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 150%;
    color: orange;

    animation-name: change-color;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    // outline: 5px outset black;
}



@keyframes change-color {
    25% {
        color: #00A4BD;
    }

    50% {
        color: #FF7A59;
    }

    75% {
        color: #00BDA5;
    }

    100% {
        color: #6A78D1;
    }
}

#keyboard {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60%;
    // animation: animate-images 3s linear infinite;
    // animation-duration: 5s;
    // outline: 5px outset black;
}

.keyboard_img {
    position: absolute; // make sure the images are positioned on top of each other
    transition: opacity 1s ease-in-out;
    opacity: 1; // start with the first image visible
}

.keyboard_img:first-child {
    opacity: 0; // hide the second image
    animation: switch-images 3s ease-in-out infinite;
}

@keyframes switch-images {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#start {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

#startButton {
    // outline: 5px outset black;
    // background-image: url('https://kennytram.github.io/Mayhem-Overload/assets/title/start.png');
    background-color: transparent;
    background-repeat: no-repeat;
    // min-width: 400px;
    // min-height: 200px;
    width: 350px;
    height: 150px;
    position: absolute;
    /* adjust width to fit your image */
    /* adjust height to fit your image */
    border: none;
    top: 80px;
    left: 300px;
    z-index: 1;
    
    @media (max-width: 960px) {
        left: calc(65% - 300px);
        top: 80px;
    }
}

#startButton:hover {
    // background-image: url('https://kennytram.github.io/Mayhem-Overload/assets/title/start_hovered.png');
    background-color: transparent;
    cursor: pointer;
    /* show pointer cursor on hover */
}

#startButton:active {
    // background-image: url('https://kennytram.github.io/Mayhem-Overload/assets/title/start_clicked.png');
    background-color: transparent;
}

#canvas {
    position: absolute;
    z-index: 0;
    // outline: 8px solid black;
    margin: 0;
}

#bottom-box{
    position: relative;
}

#tooltip-container {
    display:  flex;
    width: 100%;
    justify-content: center;
}

#creator {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: 100%;
    position: absolute;
    bottom: 30px;
    z-index: 2;
    font-family: 'Press Start 2P', cursive;
}

#tooltip {
    display: none;
    position: fixed;
    width: 350px;
    height: 80px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffcc;
    opacity: 0.5;
    color: #1e1e1e;
    z-index: 1000;
    border-radius: 10px;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    text-align: center;
}

#tooltip-title {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    text-align: center;
}

#tooltip-instruction {
    font-size: 16px;
    // margin-top: 20px;
    font-weight: 400;
    text-align: center;
    line-height: 30px;
}
